{% load i18n %}
<footer style="background-color: #1a1a1a; color: #ffffff; padding: 20px; margin-top: 20px; font-size: 14px;">
<div style="text-align: center;">
<p>© {{ year }} <span style="font-weight: bold;">{% trans "Lãng Hoa Tử" %}</span>{% trans ". All rights reserved." %}</p>
<nav style="margin-top: 10px;">
<a href="{% url 'novels:novel_list' %}" style="color: #ccc; text-decoration: none; margin: 0 15px; transition: color 0.3s;">{% trans "Sáng tác" %}</a>
<a href="{% url 'novels:genre_filter' 4 %}" style="color: #ccc; text-decoration: none; margin: 0 15px; transition: color 0.3s;">{% trans "Siêu nhiên" %}</a>
<a href="{% url 'novels:genre_filter' 2 %}" style="color: #ccc; text-decoration: none; margin: 0 15px; transition: color 0.3s;">{% trans "Hành động" %}</a>
<a href="{% url 'novels:genre_filter' 1 %}" style="color: #ccc; text-decoration: none; margin: 0 15px; transition: color 0.3s;">{% trans "Tình cảm" %}</a>
<a href="{% url 'novels:novel_list' %}" style="color: #ccc; text-decoration: none; margin: 0 15px; transition: color 0.3s;">{% trans "Danh sách truyện" %}</a>
<a href="https://f88.vn/" rel="noopener noreferrer" style="color: #fff; text-decoration: none; font-weight: bold; margin: 0 15px;" target="_blank">{% trans "Truy cập F88" %}</a>
</nav>
</div>
</footer>