<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}LightNovel{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endcomment %}
</head>
<body class="bg-gray-50 text-gray-800">

    <!-- Header -->
    {% include "partials/header.html" %}

    

    <!-- Main Content -->
    <main class="container mx-auto px-4 py-6">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    {% include "partials/footer.html" %}

</body>
</html>
