{% trans "html" %}
<html lang="vi">
<head>
    {% load static %}
    <meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>{% block title %}Lãng Hoa Tử{% endblock %}</title>
<script src="https://cdn.tailwindcss.com"></script>
<link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
</head>
<body class="bg-gray-100 text-gray-800">
    {% include "partials/header.html" %}

    <main class="container mx-auto px-4 py-4">
        {% block content %}{% endblock %}
    </main>

    {% include "partials/footer.html" %}
</body>
</html>
